extends base.pug

block style
    style
        include ../static/style.css
        include ../static/styleabout.css
block content
    article
        h2 About Us
        p We view wellness as a lifelong journet taken by everyone in their own unique way, rather than as a destination achievable by only a few. Our aim is to meet people wherever they are on their own path to help improve well-being support health.
        p Our blog is one to help us do that. It features health and wellness advice and insights from experts across Us on variety of topics that encompass the whole person body, mind and sprit.
        h3 You'll find:
        div.box
            li Delicious, healthy receips, cooking videos and nutrition advice.
            li Fitness tips and articles to help you say motivated.
            li Myth-busting and expert advice the lastest health trends.
            li Tips for how to raise healthy kids and teens. 
            li Information on prevention and ways to live better with chronic disease.
            li Articles on coping with stress, sleeping better and more.
            