extends base.pug
block style
    style
        include ../static/style.css
        include ../static/styleadvice.css
block content
    section#intro
        div.box
            h2 Advice for Healthy Foods and Diet.
            h4 Suggestions Include:
            div.box
                li Spend a little time on presentation. 
                li You are more likely to enjoy a meal if it's visually appealing as well as tasty.
                li Make every meal an occasion. Set the table. Eat with your family.
                li Give yourself the opportunity to enjoy your food without distraction like television and social media.
                li You are less likely to overeat if you eat slowly and savour every mouthful.
                li Avoid added oils and butter.
            h4 Where to get help:
            div.box
                li Dietitians Association of Australia 
                li Your Doctor