extends base.pug

block scripts
    include ../static/tips.js
    //- 8433186753

block style
    style
        include ../static/style.css

block content
        section#home
            header.showcase
                h2 It is even better than an expensive cookery book.
                h3 Learn how to make your favourite restaurants dishes.
                
            div.top-box#top-box-a
                    h3 About Us
                    
            div.top-box#top-box-b
                    h4 Contact Us
                    
        section#boxes 
            div.box-1
                h2 Tips
                
            div.box-2
                h2 Advice
                
            div.box-3
                h2 Receips
               


    

