extends base.pug
block style
    style
        include ../static/style.css
        include ../static/stylereceip.css
block content
    h1 General suggestions for healthy cooking Receips.
    .box
        h2 Here some Ideas:
        div.box
            li Don't add salt to fod as it is cooking.
            li Eat more fish, which is high in protein.
            li Limit fast foods, chips pastries, which all contain large amounts of fat.
            li Choose salad,yoghurt, gravies.
            li In sandwich, Switch to reduced salt wholemeal or wholegrain bread.
            li Enjoy toasted sandwiches with baked beans.
            li Try to reduced fat ingredients when you ccan, such as low-fat cheese or mayonnaise.
    hr
    div.im
        img(src="/static/img/san.jpg")
        img(src="/static/img/bgb.jpg")
        img(src="/static/img/bre.jpg")
        img(src="/static/img/bb.jpg")