extends base.pug

block style
    style
        include ../static/style.css
        include ../static/styletips.css
block content
    h2 Healthy cooking tips
        h4 Do:
        div.box
            li Avoid added oil and butter.
            li Use ono-stick cookware instead.
            li Don't add salt to food as it is cooking.
            li Remove chicken skin and trim the fat from meat.
            li Eat more fresh vegetables and legumes.
        h4 Don't:
        div.box
            li Use low heat point oils.
            li Cook over high heat and Overcook.
            li Don't leave food out for more than two hours.
            li Don't use any canned goods showing danger signs such as bulges.
            li Don't drink untreated water or unpasteurized milk.
    section#intro
        h3 Things to remember: 
        li In many cases, favourite receipes can be modified so they offer a lower fat content.
        li Choose to steam, bake, grill, braise, boil or microwave your foods, rather than deep fry them.
        li Use non- stick cookware.
        li Microwave or steam your vegetables instead of boiling them to retain the nutrients.
