

h2{
    font-size: 30px;
    text-align: center;
}

.box{
    font-size: 20px;
    margin: 17px;
}

.box li{
    margin-left: 30px;
}

h4{
    margin: 25px;
    font-size: 23px;
}

#intro{
    display: flex;
}


@media screen and (max-width:850px) {
    .box{

        font-size: 28px;
    }
    #intro{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h4{
        font-size: 30px;
    }
    #footer{
        font-size: 34px;
    }
    a{
        font-size: 28px;
    }
} 

