

h1{
    margin: 13px;
    font-size: 33px;
    text-align: center;
}
h2{
    margin: 12px;
}

.box{
    font-size: 23px;
    margin-left: 30px;
 
}


.im{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.im img{
    height: 200px;
    margin: 15px;
    border-radius: 19px;
    border: 2px solid black;
}


@media screen and (max-width:500px){
    h1{
        font-size: 26px;
    }
    h2{
        font-size: 25px;
    }
    .box{
        font-size: 23px;
        margin-right: 20px;
    }
    .im img{
        height: 150px;
    }
}
